extends layout
block content
  ul 
     each unita in recordset
        a.link-unita(href=`users/truppe/${unita.Unit}`)
             li #{unita.Unit} 
             img(src=`/images/${unita.Unit}.png`)



